.domyno-register__head
    &__title
        background-color #5e5e5e

.domyno-game
    canvas
        margin 0 auto
        display block
        box-shadow 0 0 15px rgba(76,76,76, .1)
        border-radius: 10px