$bg-gray = #303030
$text-color = #f7f7f7
$text-red = #ec422b
$text-accent = #ED423B
$stroke = #e8e8e8
$green = #6dad45
$link = #235863

$screen-xs = "screen and (max-width: 991px)"

body
    margin: 0
    padding: 0
    min-width: 320px
    font-family 'Poppins', Helvetica, Arial, sans-serif
    background-color $bg-gray
    color $text-color

a, button 
    cursor pointer

.form-label 
    display block
    width 100%
    font-size 18px

@import 'wrapper'
@import 'domyno'