body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  background-color: #303030;
  color: #f7f7f7;
}
a,
button {
  cursor: pointer;
}
.form-label {
  display: block;
  width: 100%;
  font-size: 18px;
}
.head {
  height: 100vh;
  min-height: 600px;
  position: relative;
  background-color: rgba(0,0,0,0.55);
}
.head::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/img/head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.head__title {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 50%;
  background-color: transparent;
  font-size: 48px;
}
.head__desc {
  font-size: 24px;
}
.games {
  padding: 60px 0;
}
.games__item {
  display: block;
  color: #f7f7f7;
  padding: 20px 15px;
  border-radius: 15px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: transparent;
}
.games__item:hover {
  background-color: #5f5f5f;
  color: #f7f7f7;
  text-decoration: none;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  padding-bottom: 25px;
}
.domyno-register__head__title {
  background-color: #5e5e5e;
}
.domyno-game canvas {
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 0 0 15px rgba(76,76,76,0.1);
  box-shadow: 0 0 15px rgba(76,76,76,0.1);
  border-radius: 10px;
}
